
# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 0cb4c89a0fff
#canbus_uuid: e43bad988435 #XOL
#canbus_uuid: 0e4ec0fb288f

#cabb663b8e49

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

#[adxl345]
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB10
#spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#axes_map: x,y,z

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150, 150, 20
#min_freq: 5
#max_freq: 75

[stepper_x]
#endstop_pin: tmc2209_stepper_x:virtual_endstop
endstop_pin: EBBCan:PB5

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
#gear_ratio: 7.5:1				#BMG Gear Ratio
microsteps: 16
#rotation_distance: 4.637      #Orbiter 2
#rotation_distance: 21.76      #LDO 1004 10t
rotation_distance: 21.32       #Moons 1004 10t
gear_ratio: 50:8
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
#sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_type: PT1000 #Rapido
#pullup_resistor: 4600 #Archetype
pullup_resistor: 2180 #Xol
sensor_pin: EBBCan: PA3
smooth_time: 0.4
#control = pid
#pid_kp = 29.706
#pid_ki = 3.961
#pid_kd = 55.700
min_temp: 0
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#pressure_advance: 0.058       #Orbiter 2
#pressure_advance_smooth_time: 0.03  #Orbiter 2
pressure_advance: 0.05
pressure_advance_smooth_time: 0.04
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 300.0
max_extrude_cross_section: 50.0


#[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NC instead of NO, add change pin to ^PA3
#pin: ^EBBCan: PB9
#x_offset: 0 # offset for microswitch x direction off nozzle
#y_offset: 26.0 #Xol offset for microswitch y direction off nozzle
#z_offset = 5.900
#y_offset: 20.25

#samples: 1
#sample_retract_dist: 3 # this is so the machine has time for the switch to reset properly, especially with a higher retract speed
#samples_result: median
#samples_tolerance: 0.05
#samples_tolerance_retries: 5
#speed: 8 # do not go higher than 10mm/s, you will destroy the switch
#lift_speed: 25

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

#[probe]
#pin: ^EBBCan: PB9
#x_offset: 0
#y_offset: 20.25
#speed: 10.0
#lift_speed: 15.0
#samples: 1
#samples_result: median
#sample_retract_dist: 1.5
#samples_tolerance: 0.02
#samples_tolerance_retries: 1

#[settling_probe]
#settling_sample: True
#   Globally enable the throw-away settling sample. Default is 'False'.
#   Setting this to 'True' will enable the throw-away sample for all
#   commands/operations that perform Z probing (QGL, Z tilt, Bed Mesh,
#   Screw Tilt, etc.)

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.65
stealthchop_threshold: 0
interpolate: false
sense_resistor: 0.110
#driver_TBL: 0
#driver_TOFF: 3
#driver_HSTRT: 7
#driver_HEND: 3

#[fan]
#pin: EBBCan: PA0

#[heater_fan hotend_fan]
#pin: EBBCan: PA1
#heater: extruder
#heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBBCan:PD3
## RGB

#initial_WHITE: 0.0

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
