#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
##  Uncomment below for SpiderVersion 1.x
#pin: PB0
##  Uncomment below for SpiderVersion 2.2
#pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
##  Uncomment below for SpiderVersion 1.x
#pin: PB1
##  Uncomment below for SpiderVersion 2.2
#pin: PA14
max_power: 1.0
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan electronic_deck_fan]
##	Controller fan - FAN2 Connector
pin: PB2
max_power: 1
kick_start_time: 20
heater: heater_bed
heater_temp: 0.5

#[heater_fan exhaust_fan]
##  Exhaust fan - In E2 OUT Positon
#pin: PB3
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 15.0
#heater: heater_bed
#heater_temp: 80
#fan_speed: 1.0

[fan_generic filter]
pin: PB15
#cycle_time: 0.05
kick_start_time: 0.5
#[output_pin BedFans]
#pin: PB15
#value: 0
#shutdown_value: 0

#[controller_fan nevermore]
# Nevermore - In E1 OUT Position
#pin: PC8
#kick_start_time: 0.500
#fan_speed: 0.5

[controller_fan stepper_driver_fan]
pin: PA14
max_power: 0.8
kick_start_time: 10.0
stepper: stepper_x
idle_timeout: 180
idle_speed: 0.1

#####################################################################
#  Macros
#####################################################################
# M106 with lock and manual set feature
# M106 S128 M1 will update the fan in any case
#[gcode_macro M106]
#description: set fan with manual override and lock option
#rename_existing: M106.1
#gcode:
#  {% if printer['output_pin lock_M106'].value|int == 0 or params.M|default(0) == '1' %}
#    M106.1 {rawparams}
#  {% else %}
#    {action_respond_info("M106 update is locked")}
#  {% endif %}
  
[gcode_macro M141]
description: Set temperature of chamber fan
gcode: SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target={params.S|default(0)}
    
[gcode_macro _SET_FILTER]
description: Helper: Set The filter speed
gcode: SET_FAN_SPEED FAN=filter SPEED={params.S|default(0)}

[gcode_macro _FILTER_ON]
description: Helper: The Filter on
gcode: _SET_FILTER S={printer['gcode_macro _USER_VARIABLE'].peripheral.filter.on_val}
  
[gcode_macro FILTER]
description: Toggle The Filter fan
gcode:
  {% if printer['fan_generic filter'].speed|float > 0.0 %} _SET_FILTER {% else %} _FILTER_ON {% endif %}
  _FILTER_INFO

[delayed_gcode _DELAY_FILTER_OFF]
gcode:
  {% if printer.print_stats.state|lower != "paused" and printer.print_stats.state|lower != "printing" %}
    _SET_FILTER
    _FILTER_INFO
  {% endif %}

##  Chamber Ventilation Control in Mainsail
[gcode_macro VENT]
description: Toggle Chamber fan
gcode:
    {% if printer['temperature_fan chamber'].target|float > 0 and 
          printer['temperature_fan chamber'].target|float <= printer['gcode_macro _USER_VARIABLE'].peripheral.vent.on_val|float %}
        M141
    {% else %}
        M141 S{printer['gcode_macro _USER_VARIABLE'].peripheral.vent.on_val}
    {% endif %}
    _VENT_INFO

[delayed_gcode _DELAY_VENT_OFF]
gcode:
  {% if printer.print_stats.state|lower != "paused" and printer.print_stats.state|lower != "printing" %}
    M141
    _VENT_INFO
  {% endif %}

[gcode_macro _VENT_INFO]
description: Helper: Print chamber fan temperature
gcode:
  {% set txt = "off" if printer['temperature_fan chamber'].target == 0 
          else "target temp: %2dC" % printer['temperature_fan chamber'].target %}
  {action_respond_info("Chamber fan %s" % txt)}
    
[gcode_macro _FILTER_INFO]
description: Helper: Print The Filter speed
gcode: {action_respond_info("Filter fan %s" % 'on' if printer['fan_generic filter'].speed|float > 0.0 else 'off')}