#####################################################################
# 	Macro
#####################################################################
[gcode_macro _FILAMENT_BALL]
description: Helper: Round the filament tip
gcode:
  G92 E0   ; zero the extruder
  M83      ; relative extrusion
  G1 E2 F{printer['gcode_macro _USER_VARIABLE'].speed.retract * 2}
  G1 E-2
  G1 E4
  G1 E-4
  G1 E8
  G1 E-8
  G1 E-25
  G4 P{params.WAIT|default(0)|int * 1000}

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    #M300 # beep
    G91
    G92 E0
    G1 E350 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    #M300
    #M300
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
description:Unload Filament
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    {% set hotendtemp = params.HOTEND|default(230)|int %}
    SAVE_GCODE_STATE NAME=unload_state
    {% if printer.pause_resume.is_paused == False %}                            ; PAUSE active? if not then normal unload with position, heatup, and tip...
      M104 S{hotendtemp}                                                        ; set & continue hotend temp, default to 230
      {% if printer.toolhead.homed_axes != 'xyz' %}                             ; Home if not already homed
        M117 Homing...
        STATUS_HOMING                                                           ; LEDs show homing
        G28                                                                     ; Alphaville: Lassie come home, come home lalala
      {% endif %}
      G90
      G1 Y5 X150 Z150 F3600                                                     ; move toolhead to reachable position and ...
      M117 Heating
      STATUS_HEATING                                                            ; LEDs show heating
      M109 S{hotendtemp}                                                        ; set & wait for hotend temp, default to 230
      M117 Unloading Filament 
      STATUS_PRINTING                                                           ; LEDs show printing
      G91
      G0 E10 F360                                                               ; extract a bit
      G0 E5 F3600                                                               ; blob a bit
      G0 E-22 F3600                                                             ; forming filament Tip for Rapido -> from ERCF V3 ercf_software.cfg 
      G0 E2 F300
      G0 E-2.1 F300
      G0 E2 F300
      G0 E-2.2 F300
      G0 E2 F300
      G0 E-2.3 F300
      G0 E2 F300
      G0 E-2.4 F300
      G0 E2 F300
      G0 E-2.5 F300
      G0 E2 F300
      G0 E-43 F300                                                               ; Filament Tip cooldown till extruder gears for Rapido -> from ERCF V3 ercf_software.cfg 
      G0 E-100 F3600                                                             ; aaand puke it out fast
       M117 Fila unloaded, what now?
    {% else %}                                                                   ; UUPS!! Pause or M600 active, hurry up now, time is Filament 
      M117 Unloading Filament
      STATUS_PRINTING                                                            ; LEDs show printing
      G91
      G0 E10 F360                                                                ; extract a bit
      G0 E5 F3600                                                                ; blob a bit
      G0 E-150 F3600                                                             ; schwupdiwup, away with it
      M117 Fila unloaded, hurry up for the next!
    {% endif %}
    STATUS_COOLING                                                               ; LEDs show cooling
    TURN_OFF_HEATERS                                                             ; cooldown
    G90
    STATUS_READY                                                                  ; LEDs show ready
    RESTORE_GCODE_STATE NAME=unload_state

[delayed_gcode DISABLEFILAMENTSENSOR]   
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

[filament_switch_sensor switch_sensor]
switch_pin: ^PG12 # as shown in Figure 2, switch sensor IO is PA0
pause_on_runout: False
runout_gcode:
    PAUSE # [pause_resume] is required in printer.cfg
    M117 $MR$:Filament switch runout
insert_gcode:
    M117 $MR$:Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^PG13 # as shown in Figure 2, motion sensor IO is PC2
detection_length: 10 # accuracy of motion sensor 2.88mm
extruder: extruder
pause_on_runout: False
runout_gcode:
    PAUSE # [pause_resume] is required in printer.cfg
    M117 $MR$:Filament encoder runout
insert_gcode:
    M117 $MR$:Filament encoder inserted

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount
    
    {% if printer['pause_resume'].is_paused|int == 0 %}     
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro
                                
        SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0                                  ; disable filament sensor       
        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume                
        BASE_PAUSE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F900                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error) 
        M104 S0                                                                              ; turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(10)|int %}
    
    {% if printer['pause_resume'].is_paused|int == 1 %}
        SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1                          ; enable filament sensor
        #RESETRGB                                                                    ; reset LCD color
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                        ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)  
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}                                                
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}                      
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}                             
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
    {% endif %}

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT
  
[gcode_macro M600]
description: Filament change
gcode: 
    PAUSE   ; everything needed is defined there

[gcode_macro _USE_INFILL_SQV]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set sqv = svv.infill_sqv | default(printer.configfile.settings.printer.square_corner_velocity, true) %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={ sqv }

[gcode_macro _USE_NORMAL_SQV]
gcode:
    {% set sqv = printer.configfile.settings.printer.square_corner_velocity %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={ sqv }

[gcode_macro SET_INFILL_SQV]
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set val = params.SQV|default(svv.infill_sqv|default(printer.configfile.settings.printer.square_corner_velocity, true), true) | int %}
    SAVE_VARIABLE VARIABLE=infill_sqv VALUE={val}
