#####################################################################
#	LED Control
#####################################################################
[neopixel caselight]
##  Chamber Lighting - In 5V-RGB Position
pin: PD3
chain_count: 50
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################