#####################################################################
#	Macros
#####################################################################

[delayed_gcode DISABLEFILAMENTSENSOR]   
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0

[gcode_macro CENTER]
gcode:
    G90
    G1 X150 Y150 Z20 F6000

[gcode_macro BELT_FREQUENCY_CALIBRATE]
gcode:
    _CG28
    CQGL
    G90
    G1 X150 Y115 Z172 F1200

[gcode_macro list_sensors]
gcode:
  { action_respond_info(printer.heaters.available_heaters | join(', ')) }
  { action_respond_info(printer.heaters.available_sensors | join(', ')) }

[gcode_macro PRINT_START]
gcode:        
    # Parameters
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
    _CG28
    G90
    BED_MESH_CLEAR
    #M104 S150
    #M190 S{bedtemp}
# Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {bedtemp}c"           # Displays info
    #STATUS_HEATING                                      # Sets SB-leds to heating-mode
    M106 S255                                           # Turns on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=BedFans VALUE=1                      # Turns on the BedFans

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{bedtemp}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {chambertemp}c"  # Displays info
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}   # Waits for chamber to reach desired temp

  # If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {bedtemp}c"           # Displays info
    #STATUS_HEATING                                      # Sets SB-leds to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{bedtemp}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5min"                # Displays info
    #G4 P300000                                          # Waits 5 min for the bedtemp to stabilize
  {% endif %}

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
    SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
    M109 S150                                    # Heats the nozzle to 150c
    CLEAN_NOZZLE

    #TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={chambertemp} MAXIMUM=90
    SET_DISPLAY_TEXT MSG="QGL"      # Displays info
    #STATUS_LEVELING                 # Sets SB-leds to leveling-mode
    CQGL
    G28 Z
    SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
    #STATUS_MESHING                     # Sets SB-leds to bed mesh-mode
    BED_MESH_CALIBRATE

# Heats up the nozzle up to target via data from slicer
    SET_DISPLAY_TEXT MSG="Hotend: {hotendtemp}c"             # Displays info
    #STATUS_HEATING                                                # Sets SB-leds to heating-mode
    G1 X{x_wait} Y{y_wait} Z50 F9000                              # Goes to center of the bed
    M107                                                          # Turns off partcooling fan
    M109 S{hotendtemp}                                       # Heats the nozzle to printing temp
    CLEAN_NOZZLE

# Gets ready to print by doing a purge line and updating the SB-leds
    SET_DISPLAY_TEXT MSG="Printing Started"          # Displays info
    #STATUS_PRINTING                                  # Sets SB-leds to printing-mode
    #G0 X{x_wait - 50} Y4 F10000                      # Moves to starting point
    #G0 Z0.4                                          # Raises Z to 0.4
    #G91                                              # Incremental positioning
    #G90                                              # Absolut position

    G0 X150 Y150 Z20 F3600
    #M109 S{hotendtemp}                                                           ; set & wait for hotend temp
    G90                                                                          ; absolute positioning
    G1 Z20 F3000                                                                 ; move nozzle away
    G1 E0.8 F7200


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-0.8 F7200                 ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z50 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0

[gcode_macro SHUTDOWN]
gcode:
  {action_call_remote_method("shutdown_machine")}

[gcode_macro REBOOT]
gcode:
  {action_call_remote_method("reboot_machine")}